@font-face {
    font-family: 'quicksandlight';
    src: fonts/url('quicksand-variablefont_wght-webfont.woff2') format('woff2'),
    fonts/url('quicksand-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
  font-family: 'quicksandlight';
}
.button1 {
    background-color: #e48e55 !important;
    color: white !important;
    
}
.button1:hover {
    background-color: white !important;
    color: rgb(218, 69, 0) !important;
    
}
ul{
    list-style:none;
}
body{
    text-align: center;
    background-color: #ceecf8 !important;
}
.ul {       
    display: none; 
    background-color: #ffe6ce !important;
    /*desplegar texto con javascript*/
}
.div{
    background-color: #ffe6ce !important;
}
#div{
    background-color: #fab34a !important;
}

